header{
    border-width: 20px;
    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.1);
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font: 1.2em "serif";
    padding-top: 10px;
    padding-bottom: 10px;
  }

/* селектор идентификаторов */
#form {
    background-color: whitesmoke;
    padding: 10px;
  }

  #error_div {
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    color: rgba(238, 3, 3, 0.819);
  } */

  /* селектор псевдоэлемента */
  #slider-value::before {
    content: "x: ";
    font-weight: bold;
  }

  /* селектор псевдокласса */
  button.submitBtn:hover {
    background-color: yellow;
    color: black;
  }

  /* наследование */
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(104, 95, 154);
  }

  /* каскадирование */
th {
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
  }

  th, td {
    padding: 5px;
    border: 1px solid black;
  }

  #result-table th {
    background-color: lightgreen;
  } 